<div class="container">
  <h2>Welcome!!</h2>

  <input [(ngModel)]="username" placeholder="enter your name"/>
  <button (click)="saveUser()">Save</button>

  <hr/>
  <div class="city-box">
    <p>{{ city1 | json }}</p>
    <span
      class="heart"
      (click)="toggleFavorite(city1)"
    >
      {{ isFavorite(city1) ? '❤️' : '🤍' }}
    </span>
  </div>
  <div class="city-box">
    <p>{{city2 | json}}</p>
    <span
      class="heart"
      (click)="toggleFavorite(city2)"
    >
      {{ isFavorite(city2) ? '❤️' : '🤍' }}
    </span>
  </div>
</div>
