<div class="container">
  <h2>Welcome!!</h2>

  <div style="position: absolute; top: 10px; right: 20px;" *ngIf="user?.id">
    <span *ngIf="!isEditingUser">
      👤 {{ user?.username }}
      <button (click)="setEditUser()">Edit User</button>
    </span>

    <span *ngIf="isEditingUser">
      👤
      <input [(ngModel)]="username" placeholder="Change name" />
      <button (click)="changeName(username)">Change</button>
    </span>
  </div>

  <div *ngIf="!user?.id">
    <input [(ngModel)]="username" placeholder="Enter your name" />
    <button (click)="saveUser()">Save</button>
  </div>

  <hr />

  <div>
    <input [(ngModel)]="newCityName" placeholder="Add a new city" />
    <button (click)="addCity()">Add City</button>
  </div>

  <div *ngFor="let city of createdCities" class="city-box">
    <p>
      {{ city.name }}
      <span *ngIf="city.temperature !== undefined">
        {{ city.temperature }}°C
      </span>
    </p>
    <button (click)="getWeatherByCoord(city)">Refresh Weather Infos</button>
    <div *ngIf="city.weatherInfos">
      <h4>Weather Info:</h4>
      <ul>
        <li><strong>Temperature:</strong> {{ city.weatherInfos.main?.temp | number: '1.0-0' }}°C</li>
        <li><strong>Humidity:</strong> {{ city.weatherInfos.main?.humidity }}%</li>
        <li><strong>Pressure:</strong> {{ city.weatherInfos.main?.pressure }} Pa</li>
      </ul>
    </div>

    <span class="heart" (click)="toggleFavorite(city.name)">
      {{ isFavorite(city.name) ? '❤️' : '🤍' }}
    </span>
  </div>
</div>
